.gameStats {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    text-align: center;

    &_title {
        width: 100%;

        h2 {
            margin: 0 0 .5rem;
        }
        
        h3 {
            margin: 0 0 1.5rem;
        }

    }

    &_table {
        width: 90%;
        margin: 0 auto 1.5rem;

        table {
            margin: 0;
        }
    }

}