
.inputCounter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 250px;
    font-family: var(--font2);
    font-size: 1.2rem;

    &.inputRight {

        .buttons {
            display: flex;
            justify-content: space-around;
            align-items: center;
            order: 1;

            .buttonMinus { 
                order: 1;
                border-radius: 5px 0 0 5px;

            }
            
            .buttonPlus { 
                order: 2;
                border-radius: 0 5px 5px 0;

            }
                
        }
        .input { 
            order: 2
        }
    }

    &.inputLeft {

        .buttons {
            display: flex;
            justify-content: space-around;
            align-items: center;
            order: 2;

            .buttonMinus { 
                order: 1;
                border-radius: 5px 0 0 5px;
            }

            .buttonPlus { 
                order: 2;
                border-radius: 0 5px 5px 0;
            }
        }
        .input { 
            order: 1;
        }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    input[type=number] {
        -moz-appearance: textfield;
    }

    .input {
        width:50%;
        max-width: 6rem;
        text-align: center;
    }

    .counterButton {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        min-width: 2rem;
        min-height: 2rem;
        border-width: 1px;
        border-style: solid;
        border-color: var(--color-n4); 

        &:focus {
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: var(--color-orange);
            outline: none;
        }
    }
}