@import '../../assets/sass/config/config.scss';

.gameNavigation{
    display: flex;
    justify-content: center;

    .trackingNavigation {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        text-transform: uppercase;
    
        @include fluid-type($min-width, $max-width, 14px, 16px);
        @include fluid-line($min-width, $max-width, 16px, 18px);
        @include fluid-letter($min-width, $max-width, 0.5px, 0.7px);
    
        &_link {
            padding-bottom: .25rem;
            
            a {
                color: var(--color-n4);
                text-decoration: none;
    
                span {
                    font-size: .75em !important;
                }

            }
    
            &_prev {
                a {
                    color: var(--color-n4);
                    border-bottom-style: dotted;
                }
                
            }
    
            &_next {
                a {
                    color: var(--color-n4);
                }
                
            }
        }
    }
}