.gameSetupFormContainer {

    .gameSetupForm {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        height: 80vh;

        .inputWrapper {
            margin-top: .75em;

            input {
                margin-left: .5em;
            }

            .toggleLabel {
                display: inline-flex;
            }
        }
    }
}