.goalCheckbox {
    /*display: flex;
    justify-content: center;
    align-items: flex-end;*/
    width: 100%;
    margin-top: 2rem;
    text-align: center;
      
    input[type="radio"] {
        display: none;
        &:checked {
        + .box {
            background-color: orange;
            span {
            color: white;
            transform: translateY(70px);
            &:before {
                transform: translateY(0px);
                opacity: 1;
            }
            }
        }
        }
    }
    .box {
        width: 200px;
        height: 200px;
        background-color: white;
        transition: all 250ms ease;
        will-change: transition;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        position: relative;
        font-weight: 900;

        &:active {
            transform: translateY(10px);
        }

        span {
            position: absolute;
            transform: translate(0, 60px);
            left: 0;
            right: 0;
            transition: all 300ms ease;
            font-size: 1.5em;
            user-select: none;
            color: orange;

        &:before {
            font-size: 1.2em;
            font-family: FontAwesome;
            display: block;
            transform: translateY(-80px);
            opacity: 0;
            transition: all 300ms ease-in-out;
            font-weight: normal;
            color: white;
        }
        }
    }
    .frontEnd {
        span {
        &:before {
            content: "\1F810";
        }
        }
    }
    .backEnd {
        span {
        &:before {
            content: "\279E";
        }
        }
    }
}