.goalCheckbox {
    /*display: flex;
    justify-content: center;
    align-items: flex-end;*/
    width: 100%;
    margin-top: 2rem;
    text-align: center;
      
    input[type="radio"] {
        display: none;
        &:checked {
        + .box {
            background-color: var(--color-primary);
            span {
                color: var(--color-white);
                transform: translateY(70px);
                &:before {
                    color: var(--color-white);
                    transform: translateY(0px);
                    opacity: 1;
                }
            }
        }
        }
    }
    .box {
        width: 200px;
        height: 200px;
        background-color: var(--color-white);
        border: var(--color-primary) solid 1px;
        transition: all 250ms ease;
        will-change: transition;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        position: relative;
        font-weight: 900;

        &:active {
            transform: translateY(10px);
        }

        span {
            position: absolute;
            transform: translate(0, 60px);
            left: 0;
            right: 0;
            transition: all 300ms ease;
            font-size: 1.5em;
            user-select: none;
            color: var(--color-primary);

            &:before {
                color: var(--color-primary);
                font-size: 1.2em;
                display: block;
                transform: translateY(-80px);
                opacity: 0;
                transition: all 300ms ease-in-out;
                font-weight: normal;
            }
        }
    }
    .frontEnd {
        span {
            &:before {
                color: var(--color-primary);
                content: "\2190";
            }
        }
    }
    .backEnd {
        span {
            &:before {
                color: var(--color-primary);
                content: "\2192";
            }
        }
    }
}