.goalCheckbox {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
      
    input[type="radio"] {
        display: none;
        &:checked {
        + .box {
            background-color: var(--color-primary);
            span {
                color: var(--color-white);
                &:before {
                    color: var(--color-white);
                    opacity: 1;
                }
            }
        }
        }
    }
    .box {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 150px;
        width: 100%;
        aspect-ratio: 1/1;
        background-color: var(--color-white);
        border: var(--color-primary) solid 1px;
        font-weight: 900;
        text-align: center;
        transition: all 250ms ease;
        will-change: transition;
        cursor: pointer;

        // @include media-query($medium-up) {
        //     max-width: 200px;
        // }

        &:active {
            transform: translateY(10px);
        }

        span {
            font-size: 1.5em;
            color: var(--color-primary);
            transition: all 300ms ease;
            user-select: none;

            &:before {
                display: block;
                opacity: 0;
                color: var(--color-primary);
                font-size: 1.2em;
                font-weight: normal;
                transition: all 300ms ease-in-out;
            }
        }
    }
    .frontEnd {
        span {
            &:before {
                color: var(--color-primary);
                content: "\2190";
            }
        }
    }
    .backEnd {
        span {
            &:before {
                color: var(--color-primary);
                content: "\2192";
            }
        }
    }
}