.page {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;

    .container {
        width: calc(100% - 32px);
        max-width:  $max-width;
        margin: 0 auto;

        /*@include media-query($medium-up) {
            width: calc(100% - 64px);
        }*/

        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: center;
            width: 100%;
            max-width: 1080px;
            height: 90vh;
            margin: 0 auto;

        }

    }

    .trackingNavigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: var(--avant);
        text-transform: uppercase;
        font-weight: 500;
    
        @include fluid-type($min-width, $max-width, 14px, 16px);
        @include fluid-line($min-width, $max-width, 16px, 18px);
        @include fluid-letter($min-width, $max-width, 0.5px, 0.7px);
    
        .trackingLink {
            padding-bottom: .25rem;
            
            a {
                text-decoration: none;
    
                span {
                    font-size: .75em;
                }
            }
    
            &_prev {
                border-bottom: orange 2px dotted;
            }
    
            &_next {
                border-bottom: orange 2px solid;
            }
        }
    }
}