@import '../../assets/sass/config/config.scss';

.page {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;

    .container {
        width: calc(100% - 32px);
        max-width:  $small;
        margin: 0 auto;

        @include media-query($medium-up) {
            width: calc(100% - 64px);
            max-width:  $medium;
        }

        @include media-query($large-up) {
            max-width:  $max-width;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: center;
            width: 100%;
            max-width: 375px;
            height: 90vh;
            margin: 0 auto;

            @include media-query($medium-up) {
                width: calc(100% - 64px);
                max-width: 100%;
                height: auto;
            }

        }

    }
}