/*
============================================================================
Use the fluid typography mixins (size, line-height, letter) to set styles
=============================================================================
*/

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&family=Open+Sans&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
	font-family: var(--font1);
	text-transform: uppercase;
}

h1,
h5,
h6 {
	font-weight: 700;
}

h2 {
	font-weight: 400;
}

h3,
h4,
h7 {
	font-weight: 500;
}

h1 {
	@include fluid-type($min-width, $max-width, 26px, 44px);
	@include fluid-line($min-width, $max-width, 28px, 46px);
	@include fluid-letter($min-width, $max-width, -0.44px, -0.44px);
}

h2 {
	@include fluid-type($min-width, $max-width, 24px, 42px);
	@include fluid-line($min-width, $max-width, 24px, 44px);
	@include fluid-letter($min-width, $max-width, -0.44px, -0.44px);
}

h3 {
	@include fluid-type($min-width, $max-width, 22px, 36px);
	@include fluid-line($min-width, $max-width, 24px, 38px);
	@include fluid-letter($min-width, $max-width, 0.7px, 0.7px);
}

h4 {
	@include fluid-type($min-width, $max-width, 18px, 28px);
	@include fluid-line($min-width, $max-width, 20px, 30px);
	@include fluid-letter($min-width, $max-width, 0.7px, 0.9px);
}

h5 {
	@include fluid-type($min-width, $max-width, 18px, 23px);
	@include fluid-line($min-width, $max-width, 20px, 25px);
	@include fluid-letter($min-width, $max-width, 0.7px, 0.9px);
}

h6 {
	@include fluid-type($min-width, $max-width, 16px, 18px);
	@include fluid-line($min-width, $max-width, 18px, 24px);
	@include fluid-letter($min-width, $max-width, 0.7px, 0.7px);
}

p {
	font-family: var(--carlson);
	font-weight: 400;
	@include fluid-type($min-width, $max-width, 16px, 22px);
	@include fluid-line($min-width, $max-width, 26px, 34px);
	@include fluid-letter($min-width, $max-width, -0.1px, -0.2px);
}

a {
	color: var(--color, var(--color-n4));
	text-decoration-color: var(--color-blue);
	text-decoration-thickness: 1px;
	transition: all var(--default-timing) var(--expo-out);
	margin-bottom: -2px;

	@include media-query($large-up) {
		&:hover {
			background: var(--bg, var(--color-light-blue-1));
			text-decoration-thickness: 2px;
		}
	}
}
