/*
============================================================================
HOT Variables

This is where you will use CSS Variables. Variables that are dynamic

Colors, Typography, Border-Radi, Transitions, CSS Grid
=============================================================================
*/

:root {
	//** Colors ** //
	//primary - named colors, font colors, etc.
	
	--color-primary: #ffa500;
	--color-secondary: #4F378E;
	--color-tertiary: #7fc356;

	// named colors
	// solid
	--color-orange: #ffa500;
	--color-green: #7fc356;
	--color-lt-green-1: #99CC99;
	--color-lt-green-4: #e5f3dd;
	--color-red: #FF0000;
	--color-blue: #26BBD6;

	//opaque/transparent
	--color-orange80: rgba(255, 165, 0, 0.8);
	--color-orange50: rgba(255, 165, 0, 0.5);
	--color-orange30: rgba(255, 165, 0, 0.3);
	--color-orange20: rgba(255, 165, 0, 0.2);
	--color-orange10: rgba(255, 165, 0, 0.1);
	--color-green80: rgba(127, 195, 86, 0.8);
	--color-green50: rgba(127, 195, 86, 0.5);
	--color-green30: rgba(127, 195, 86, 0.3);
	--color-green20: rgba(127, 195, 86, 0.2);
	--color-red80: rgba(255, 0, 0, 0.8);
	--color-red50: rgba(255, 0, 0, 0.5);
	--color-red30: rgba(255, 0, 0, 0.3);
	--color-red20: rgba(255, 0, 0, 0.2);
	--color-blue: rgb(38, 187, 214);
	--color-blue80: rgba(38, 187, 214, 0.8);
	--color-blue50: rgba(38, 187, 214, 0.5);
	--color-blue30: rgba(38, 187, 214, 0.3);
	--color-blue20: rgba(38, 187, 214, 0.2);

	//black & white
	--color-black: #000000;
	--color-white: #ffffff;

	//neutral
	--color-n1: #b3b3b3;
	--color-n120: rgba(179, 179, 179, 0.2);
	--color-n2: #808080;
	--color-n3: #4d4d4d;
	--color-n4: #222222;

	//State Colors//
	--color-link: var(--color-primary);

	//** Fonts **//
	//font families
	--font1: 'Dosis';
	--font2: 'Inter';
	--font3: 'Open Sans';

	//body font size
	--font-base-size: 16px;

	//borders
	--border-link: var(--color-primary) 2px solid;

	//** Animation **//
	//transition
	--expo-out: cubic-bezier(0.16, 1, 0.3, 1);

	//transition-timing
	--default-timing: 0.6s;
}

/*
============================================================================
COLD Variables

This is where you will use variables that can be used with SASS

Spacers, Breakpoints
=============================================================================
*/

//** Spacers **//
$spacer-xs: 4px;
$spacer-s: 8px;
$spacer-m: 16px;
$spacer-l: 24px;
$spacer-xl: 32px;

//** Grid Breakpoints and Class Names **//
//Do not change the variable names
$grid-medium: 750px;
$grid-large: 990px;
$grid-widescreen: 1400px;

$small: 'small';
$medium: 'medium';
$medium-down: 'medium-down';
$medium-up: 'medium-up';
$large: 'large';
$large-down: 'large-down';
$large-up: 'large-up';
$widescreen: 'widescreen';

// The `$breakpoints` list is used to build our media queries.
// You can use these in the media-query mixin.
$breakpoints: (
  $small '(max-width: #{$grid-medium - 1})',
  $medium '(min-width: #{$grid-medium}) and (max-width: #{$grid-large - 1})',
  $medium-down '(max-width: #{$grid-large - 1})',
  $medium-up '(min-width: #{$grid-medium})',
  $large '(min-width: #{$grid-large}) and (max-width: #{$grid-widescreen - 1})',
  $large-down '(max-width: #{$grid-widescreen - 1})',
  $large-up '(min-width: #{$grid-large})',
  $widescreen '(min-width: #{$grid-widescreen})'
);

//Used for fluid Typography
$min-width: 375px;
$max-width: 1400px;
