.statTrackingForm {

    .statGroup {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 1rem;

        .statCol {
            flex: 1 1 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        .labels {
            flex: 1 1 20%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: 2rem;

            p {
                margin-top: 0;
                line-height: 1;
                text-align: center;
                vertical-align: middle;
            }
        }
    }

    .gameNavigation {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 95%;
        margin: 3rem auto 0;

        &_link a {
            font-size: 1.25rem;
            text-transform: uppercase;

        }
    }

}