@import '../../assets/sass/config/config.scss';

.statTrackingForm {

    .statGroup {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 1rem;

        .statCol {
            flex: 1 1 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        .labels {
            flex: 1 1 20%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: 2rem;

            p {
                margin-top: 0;
                line-height: 1;
                text-align: center;
                vertical-align: middle;
            }
        }
    }

    .resetButton {
        
        &_button {
            padding: .35rem;
            border: 1px solid var(--color-secondary);
            background-color: var(--color-white);
            color: var(--color-secondary);
            font-family: var(--font2);
            text-transform: uppercase;

        }
    }

    .gameNavigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 95%;
        margin: 1rem auto 2rem;


        .trackingNavigation {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            text-transform: uppercase;
        
            @include fluid-type($min-width, $max-width, 14px, 16px);
            @include fluid-line($min-width, $max-width, 16px, 18px);
            @include fluid-letter($min-width, $max-width, 0.5px, 0.7px);
    
            &_link {
                padding-bottom: .25rem;
                
                a {
                    text-decoration: none;
        
                    span {
                        font-size: .75em !important;
                    }
                }
        
                &_prev {
    
                    a {
                        border-bottom-style: dotted;
                    }
                    
    
                }
            }
        }
    }
}