@import './config/variables';

/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
	font-size: var(--font-base-size);
}

*,
*:before,
*:after {
	box-sizing: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-overflow-scrolling: touch;
	margin-bottom: 0;
}

html,
body, th, tr {
	color: var(--color-n4);
	// width: 100%;
	// height: 100%;
	// height: 5000px;
}

ul {
	@include media-query($medium-up) {
		padding-left: 64px;
		margin-bottom: 48px;
	}
	li {
		position: relative;
		margin-top: 24px;
		list-style: none;

		bold {
			font-weight: 700;
		}

		&::before {
			content: '•';
			position: absolute;
			top: 8px;
			left: -16px;
			font-size: 28px;
			color: var(--color-blue);
			line-height: 0;

			@include media-query($medium-up) {
				left: -24px;
			}
		}
	}
}

nav {
	ul {
		padding: 0;

		li::before {
			content: '';
		}
	}
}

input {
	border-radius: 5px;
}


input[type=submit] {
	padding: 0.625rem 1.5rem;
	color: var(--color-n4);
	text-transform: uppercase;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	cursor: pointer;

}

input[type=button] {
	//padding: 0.625rem 1.5rem;
	color: var(--color-n4);
	//border-style: solid;
	//border-width: 1px;
	border-radius: 5px;
	cursor: pointer;
}

.test {
	font-size: 4rem;
}
/*
============================================================================
This is the syntax for global class names:

:global(.class-name) {
    key: value
    ...
}
=============================================================================
*/

:global(.container) {
	width: calc(100% - 32px);
	max-width: 1080px;
	margin: 0 auto;

	@include media-query($medium-up) {
		width: calc(100% - 64px);
	}
}

:global(.wrapper) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	width: 100%;
	max-width: 1080px;
	height: 100vw;
	margin: 0 auto;

}

:global(.h7) {
	font-family: var(--avant);
	text-transform: uppercase;
	font-weight: 500;
	@include fluid-type($min-width, $max-width, 14px, 16px);
	@include fluid-line($min-width, $max-width, 16px, 18px);
	@include fluid-letter($min-width, $max-width, 0.5px, 0.7px);
}

//** Buttons **//
.button-green {
	background-color:  var(--color-green20);
	border-color: var(--color-green80);
}

.button-green:hover {
	background-color:  var(--color-green80);
}
.button-green:disabled {
	background-color:  var(--color-white);
}

.buttonRed {
	background-color:  var(--color-red20);
	border-color: var(--color-red80);
}

.buttonRed:hover {
	background-color:  var(--color-red80);
}
.buttonRed:disabled {
	background-color:  var(--color-white);
}
